using System;
using System.Collections.Generic;
using System.Linq;
using System.Threading.Tasks;
@model WebApplication.Web.Entities.ItemEntity
@using WebApplication.Web.Entities

@model ItemEntity
<div>Latest item added: @Model.Name></div>